<div class="mb-6 flex items-center justify-between">
  <h1 class=" text-3xl font-bold"><%= @article.title %></h1>

  <div>
    <button class="cursor-pointer px-3 py-2 bg-primary text-white rounded hover:bg-primary-hover transition-all ease-in-out duration-300">
      <%= link_to "Edit", edit_article_path(@article) %>
    </button>

    <button class="cursor-pointer px-3 py-2 bg-danger text-white rounded hover:bg-danger-hover transition ease-in-out duration-300">
      <%= link_to "Delete", article_path(@article), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } %>
    </button>

    <button class="cursor-pointer px-3 py-2 bg-primary text-white rounded hover:bg-primary-hover transition-all ease-in-out duration-300">
      <%= link_to "Return", root_path %>
    </button>
  </div>
</div>

<p class="mb-8 px-3 break-words"><%= @article.body %></p>

<section class="mb-8">
  <h2 class="mb-3 text-2xl font-bold"><%= @article.comments.size %> Comments</h2>
  <% unless @article.comments.size < 1 %>
    <%= render @article.comments %>
  <% else %>
    <div class="mb-3 p-6 bg-white border-[1px] border-gray-200 text-gray-500 text-center rounded-lg shadow-md">
      <p>Such empty. Be the first to leave a comment!</p>
    </div>
  <% end %>
</section>

<section class="mb-8">
  <h2 class="mb-3 text-2xl font-bold">Add a comment:</h2>
  <%= render "comments/form" %>
</section>
